<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="footer-padding"></div>
  <div class="footer">

    <p> IT صنع بــ ❤️ من لجنة الـ </p>

  </div>
</body>

</html>
