<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>تلاؤم</title>
  <%- include("header")-%>
</head>

<body>

  <div style="justify-content: center;" class="divAll">


    <div class="divH1Leader">
      <h1 style="padding-top: 5px;">القائد</h1>
      <a class="link" href="/Leader">اضغط هنا</a>
    </div>

    <div class="divMember">
      <h1 style="padding-top: 5px;">الأعضاء</h1>
      <a class="link" href="/Members">اضغط هنا</a>
    </div>

  </div>




</body>

</html>
<%- include("footer")-%>
